body{
    background-color: aqua;
}

form{
    background-color: white;
    margin: auto;
    padding: 1%;
    width: 500px;
    border-radius: 1%;
}

form input{
    border-radius: 5px;
    width: 490px;
    height: 30px;
    margin-bottom: 10px;
}

form button{
    width: 496px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: aqua;
    border: none;
}

form h1{
    color: aqua;
    text-align: center;
}